<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>400685716409-3cko4spfjnbueick6tghba947ok155b4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.400685716409-3cko4spfjnbueick6tghba947ok155b4</string>
	<key>API_KEY</key>
	<string>AIzaSyAUn_44UeFZpR3pV5ZVAVf9j25bm1V9p3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>400685716409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rvtech.lokahi</string>
	<key>PROJECT_ID</key>
	<string>lokahirn</string>
	<key>STORAGE_BUCKET</key>
	<string>lokahirn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400685716409:ios:b6c155918e25dd85715c68</string>
</dict>
</plist>